* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #4568dc, #b06ab3);
    background-repeat: no-repeat;
    max-height: 100vh;
    z-index: 0;
}

.container {
    width: 1220px;
    height: 760px;
    margin: 110px auto;
    display: grid;
    grid-template-columns: 230px auto;
}


.left-part {
    background-color: #292D32;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}



.work {
    display: flex;
    align-items: center;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #626C76;
    border: 1px solid #626C76;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.word {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #626C76;
    background-color: transparent;
    border: none;

}


.main-part {
    background: #F5F7FA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#doktors {
    height: 600px;
    /* Set a fixed height */
    overflow-y: auto;
    /* Add vertical scrollbar if content overflows */
}

#doktors::-webkit-scrollbar {
    width: 5px;
    /* Set width for the scrollbar */
}

#doktors::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Set a background color for the scrollbar track */
}

#doktors::-webkit-scrollbar-thumb {
    background: #888;
    /* Set color for the scrollbar thumb */
    border-radius: 5px;
    /* Add rounded corners to the scrollbar thumb */
}

#doktors::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Change color on hover */
}



.first-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.first-part h1 {
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    text-align: left;
    margin: 20px;
}

.card {
    margin: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    background: #FFFFFF;

}

.doctor-image {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.name_and_email h3 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    color: #292D32;
    margin-bottom: 5px;
}

.name_and_email p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    color: #828F9A;

}

.footer {
    height: 76px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer button {
    width: 59px;
    height: 36px;
    padding: 9px, 14px, 9px, 14px;
    border-radius: 2px;
    background: #6C70DC;
    border: none;
    margin-right: 30px;
}

.card.active {
    border: 1px solid green;
}

a {
    text-decoration: none;
}