* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #4568dc, #b06ab3);
    background-repeat: no-repeat;
    max-height: 100vh;
    z-index: 0;
}

.container {
    width: 1220px;
    height: 760px;
    margin: 110px auto;
    display: grid;
    grid-template-columns: 230px auto;
}



.left-part {
    background-color: #292D32;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}

#icon {
    border-radius: 50%;
    background-color: #6C70DC;
    padding: 5px;
    margin-right: 16px;
}


.work {
    display: flex;
    align-items: center;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #626C76;
    border: 1px solid #626C76;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.word {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #626C76;
    background-color: transparent;
    border: none;

}


.main-part {
    background: #F5F7FA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




.first-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.first-part h1 {
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    text-align: left;
    margin: 20px;
}


.footer {
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .confirm, button {
    width: 169px;
    height: 36px;
    padding: 9px, 14px, 9px, 14px;
    border-radius: 2px;
    font-size: 18px;
    background: #6C70DC;
    color: white;
    border: none;
    margin: 0 30px;
    cursor: pointer;
}

.footer button{
    width: 59px;
    font-size: 13px;

}

a {
    text-decoration: none;
}

.name {
    display: flex;
    gap: 30px;
}
.middle {
    height: 600px;
}

.name label {
    font-size: 18px;
}
.name input {
    width: 395px;
    height: 46px;
    margin-top: 10px;
    border: 0;
    outline: 0;
    color: rgb(60, 66, 87);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
    border-radius: 4px;
    font-size: 14px;
    padding: 4px 8px;
}

.name div {
    margin: 30px;

}
.note .nott {
    margin: 30px;
    font-size: 18px;

}
.note-container{
    background-color: white;
    padding: 10px;
    margin: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    
}

.note-container p {
    margin: 20px;
    font-size: 18px;
    color: #6C70DC;
}