<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Display</title>
    <link rel="stylesheet" href="confirm.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="confirm.js"></script> 
</head>

<body>
    <div class="container">
        <div class="left-part">
            <div class="work">
                <i id="icon" class="fa fa-check" style="font-size:15px;color:white" ></i>
                </p>
                <p class="word">Staff</p>
            </div>
            <div class="work">
                <i id="icon" class="fa fa-check" style="font-size:15px;color:white"></i>
                </p>
                <p class="word">Service</p>
            </div>
            <div class="work">
                <i id="icon" class="fa fa-check" style="font-size:15px;color:white"></i>
                </p>
                <p class="word">Date</p>
            </div>
            <div class="work">
                <p class="number" style="background-color: #53D56C;">4</p>
                <p style="color: #53D56C;" class="word">Confirmation</p>
            </div>
        </div>
        <div class="main-part">
            <div class="for_height">

                <div class="first-part">
                    <h1>Confirmation details </h1>
                    <div style="margin: 20px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24"
                            fill="#ADBFC7">
                            <path
                                d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
                            <path d="M0 0h24v24H0z" fill="none" />
                        </svg>
                    </div>
                </div>
                <hr>
                <div class="middle">
                    <form>
                        <div class="name">
                            <div>
                                <label for="">First Name <span style="color: red;">*</span></label> <br>
                                <input type="text"  id="first-name" required/>
                            </div>
                            <div>
                                <label for="" >Last Name <span style="color: red;">*</span></label> <br>
                                <input type="text"  id="last-name" required/>
                            </div>
                        </div>
                        <div class="name">
                            <div>
                                <label for="">E-mail <span style="color: red;">*</span></label> <br>
                                <input type="text"  id="email" required />
                            </div>
                            <div>
                                <label for="">Phone</label> <br>
                                <input type="text"  id="phone"/>
                            </div>
                        </div>
                    </form>
                    <div class="note">
                        <p class="nott">Note</p>
                        <div class="note-container">
                            <p>Staff : <span class="staff"></span> </p>
                            <p>Service : <span class="service"></span></p>
                            <p>Date : 
                                <span class="appointment-date"></span> / 
                                <span class="start-time"></span> - 
                                <span class="end-time"></span> </p>
                            <p>Staff :  <span style="color: #53D56C;" class="price"></span></p>

                        </div>
                    </div>
                </div>


                <hr>
            </div>
            <div class="footer">
                <button><a href="../Date/date.html">Back</a></button>
                <button   class="confirm"> Confirim  Booking</button>
            </div>

        </div>

    </div>

</body>

</html>